<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card color="dark" size-md>
      <img src="assets/videoapp.png" alt="Logo">
      <ion-card-title class="ion-text-center">Videos App</ion-card-title>
      <ion-item lines="none" color="dark">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input (keyup.enter)="login()" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none" color="dark">
        <ion-label position="floating">Senha</ion-label>
        <ion-input (keyup.enter)="login()" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="light">Entrar</ion-button>
      <ion-button expand="full" fill="clear" color="light">REGISTRAR</ion-button>
    </ion-card>
  </div>
</ion-content>
