<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dados da Série</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="serie">
    <ion-card-header>
      <img *ngIf="serie.poster_path" src="https://www.themoviedb.org/t/p//w500/{{serie.poster_path}}" />
    </ion-card-header>

    <ion-card-content>
      <h1>{{serie.name}} - <ion-chip
          [color]="serie.vote_average < 5 ? 'danger' :  serie.vote_average < 7 ? 'warning' : 'success'">
          {{serie.vote_average}}</ion-chip>
      </h1>
      <p>{{serie.release_date | date: 'shortDate'}}</p>
    </ion-card-content>
    <ion-item>
      <ion-badge color="light" *ngFor="let idGenero of serie.genre_ids">{{generos[idGenero]}}</ion-badge>
    </ion-item>
    <ion-card>
      <ion-card-content>
        {{serie.overview}}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6JnN1DmbqoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/otutSrxYpa4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
