<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" align="center">
        <img class="img-thumbnail" src="https://avatars.githubusercontent.com/u/17355620?v=4" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="text-center">Uirá de souza</h1>
  <h6 class="text-center">DESENVOLVEDOR FULL STACK | ANALISTA DE DESENVOLIVMENTO PLENO</h6>
  <h6 class="text-center">uira182@hotmail.com | (11) 98267-0687 | São Paulo – SP</h6>
  <p class="text-center">Programador Full Stack, apaixonado por conhecimento e movido a desafios.</p>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
